.footer {
  min-height: 100px;
  position: relative;
}

.footer span {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #006A51;
}

.footer-links {
  color: silver;
}

.footerSocialIcons {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}

.bodyContent {
  text-align: left;
}