.newsImage {
  padding-left: 15px;
}
.moreNews {
  text-align: center;
}
h2 {
  text-align: left;
}
.newsBox {
  border-style: double;
  background-color: #ffffe0;
  text-align: justify;
  padding: 10px;
  text-align: center;
  margin-right: 10%;
  margin-left: 5%;
  margin-bottom: 3%;
}
